
.btn-right-top{
  font-size: 13px;
  text-align: right;
  position: absolute;
  right: 10px;
  top:10px;   
}
.btn-right1{
  font-size: 15px;
  text-align: right;
  position: absolute;
  right: 10px;
  top:7px;   
}
.add-box{
  margin-top: 30px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 41px -4px rgba(0,0,0,0.21);
  -moz-box-shadow: 10px 10px 41px -4px rgba(0,0,0,0.21);
  box-shadow: 10px 10px 41px -4px rgba(0,0,0,0.21);
  max-width: 500px;
  border-radius: 8px;
  padding: 10px;
  position: relative;
}

.mt{
    margin: 2%;
}

.hide
{
  display:none;
}

.shadow{
  -webkit-box-shadow: 12px 8px 46px 0px rgba(0,0,0,0.67);
  -moz-box-shadow: 12px 8px 46px 0px rgba(0,0,0,0.67);
  box-shadow: 12px 8px 46px 0px rgba(0,0,0,0.67);
}

.bggrey{
  background-color:	rgb(233, 233, 233);
}

.bgwhite{
  background-color:white;
}

body{
  font-family: 'Roboto';
}

h1{
  font-weight: 100;
}

h3{
  font-weight: 100;
  
  padding:40px;
  padding-left:0px;
}


.clearbtn{
  position: absolute;
  top: 8px;
  right: 16px;

}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.outer {
  width: 50%;
  margin-top: 5%;
}

.pad{
  padding-top: 3%;
  padding-bottom: 3%;
}


input{
    max-width: 500px ;
    font-weight: 100 !important;
    font-size: 24px !important;
    border:none;
    background-color:rgba(233, 233, 233, 0);
    outline: none;

}



.hov:hover { 
  background-color: #F7FEFE;
  transition-delay:200ms;
}
/* .hov{
  transition:200ms;
  transition-delay:200ms;
} */

.clearcompbtn{
  position: relative;
  top:3px;
  left:550px;

}

.btn {
  margin: 10px;
}

.todo{
   
  position: relative;
  height: 45px;
  margin:2px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.9s;
}

.todo-text{
  margin-left:10px;
  margin-top:5px;
}

.btn-center{
  font-size: 10px;
  text-align: right;
  position: absolute;
  right: 65px;
  top:0px;


}
.btn-left{
  font-size: 10px;
  text-align: right;
  position: absolute;
  right: 114px;
  top:0px;


}

.btn-right{
  font-size: 10px;
  text-align: right;
  position: absolute;
  right: 10px;
  top:0px;
  

  
}

#newtodo{
  font-size:15px !important; 
  margin-top:20px;    
}